<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <p>How do I like my eggs? Umm... In a cake.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
</footer>

