.page-footer.font-small.mdb-color.lighten-3.pt-4 {
 margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

#nav.navbar.navbar-default.navbar-static-top.navbar-inverse {
    margin-bottom: 0px;
}

#details {
    display: none;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;

}

.form-label-group {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    align-content: space-around;
    padding-left: 10px;
}

.buttons>button {
    margin-right: 10px;
}

.jumbotron.text-center {
    background-image: url("/hermes-rivera-258743-unsplash.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 75px;
}
