.page-footer.font-small.mdb-color.lighten-3.pt-4 {
 margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

#nav.navbar.navbar-default.navbar-static-top.navbar-inverse {
    margin-bottom: 0px;
}

#details {
    display: none;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;

}
