.page-footer.font-small.mdb-color.lighten-3.pt-4 {
    margin-top: 20px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

#nav.navbar.navbar-default.navbar-static-top.navbar-inverse {
    margin-bottom: 0px;
}
